@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');

@font-face {
  font-family: "young_20sregular";
  src: url("/fonts/young20sregular-wrb3-webfont.woff2") format("woff2"), url("/fonts/young20sregular-wrb3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Odalisque";
   src: url("/fonts/Odalisque.woff")  format("woff"), 
   url("/fonts/OdalisqueNf.ttf") format("truetype");

}
@font-face {
    font-family: 'AGA-Cordoba-V2-B17-Bold';
    src:url('/fonts/AGA-Cordoba-V2-B17-Bold.ttf.woff') format('woff'),
        url('/fonts/AGA-Cordoba-V2-B17-Bold.ttf.svg#AGA-Cordoba-V2-B17-Bold') format('svg'),
        url('/fonts/AGA-Cordoba-V2-B17-Bold.ttf.eot'),
        url('/fonts/AGA-Cordoba-V2-B17-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


    /* The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/ */

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* begin  */
 :root{
    /* colors */
  --bg-color1: hsl(36,92%,79%);
  --txt-color1: hsl(179, 85%, 16%);
  --titlecolor1:hsl(354,58%,40%);
  --border-color:hsl(9, 44%, 18%);
  --bg-color1:hsl(96, 71%, 97%);
  --artnov-1:hsl(354, 58%, 40%);
  --artnov-2:hsl(36, 93%, 79%);
  --artnov-3:hsl(39,89%,66%);
  --artnov-4:hsl(53,40%,65%);
  --artnov-5:hsl(0, 79%, 81%);
  --artnov-dark-1: hsl(189, 32%, 28%);
  --artnov-dark-2:hsl(194, 23%, 71%);
  --color-primary: #3a00ff;
  --clr-text-400:hsl(30, 32%, 15%);
  --clr-accent-400: hsl(17, 60%, 18%);



    /* fonts */
    --ff-body1: 'Raleway', sans-serif;
    --ff-title1: 'young_20sregular', sans-serif;
    --ff-title2:'AGA-Cordoba-V2-B17-Bold',sans-serif;

    /* sizes */
 
   
  --fw-bold: 700;
  --fw-regular:400;
  --fw-semibold:500;
  --fw-extra:800;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  --fs-800: 6rem;
  --fs-primary-heading: 3rem;

  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
  --size-100:.25rem;
  --size-200:.5rem;
  --size-300:.75rem;
  --size-400:1rem;
  --size-500:1.25rem;
  --size-600:2rem;
  --size-700:3rem;
  --size-800:4rem;
  --size-900:5rem;


 }



body{
background-color: var(--bg-color1);
  font-size: var(--fs-600);
  font-family: var(--ff-body);

}

.padding-block-400{
  padding-block: var(--size-400);
}
.padding-block-900{
  padding-block: var(--size-900);
}
.text-neutral-900{
  color:var(--clr-text-400);
  line-height: 1.875rem;
}


.ff-primary-heading{
  font-family: var(--ff-primary-heading);
  font-size: 70px;
  color: var(--artnov-1);
  line-height: 4rem;
}
.fs-bold{
  font-weight: var(--fs-bold);

}

.title1{
  line-height: 8rem;
  padding-left:15%;
}

.container {
  --max-width: 1110px;
  --padding:1rem;
  
  width: min(--max-width), 100% - (var(--padding)*2);
  margin-inline: auto;
}

:where(.flow > :not(:first-child)){
  margin-top: var(--flow-spacer, 2em);
}
@media screen and (min-width: 751px){
.about main {
    display: grid;
    grid-template-columns: minmax(300px,600px) minmax(230px,1fr);
    grid-column-gap: 6vw;
}}

.nav-bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
}

.nav-bar a {
 padding:0 .5rem;
 height:var(--nav-height);
 display:grid;
 place-content:center;
 background-repeat:no-repeat;
 background-size:100% var(--nav-height);
 background-position:center var(--nav-height);
 text-decoration:none;
 font-weight:500;
 -webkit-transition:background-position 150ms ease-in-out;
 transition:background-position 150ms ease-in-out;
 margin-inline: auto;
}
.nav-bar > a:first-of-type {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#0fba00),to(#0003ba));
  background-image: linear-gradient(var(--artnov-1),var(--artnov-1));
}

.nav-bar > a:nth-of-type(2) {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ba0000),to(#ba0000));
  background-image: linear-gradient(var(--artnov-5),var(--artnov-5));
}
.nav-bar > a:nth-of-type(3) {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ba0000),to(#ba0000));
  background-image: linear-gradient(var(--artnov-dark-1),var(--artnov-dark-1));
}
.nav-bar > a:nth-of-type(4) {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#7dc0a1),to(#7dc0a1));
  background-image: linear-gradient(var(--artnov-dark-2),var(--artnov-dark-2));
}
.nav-bar a:hover {
  background-position: center calc(var(--nav-height) - 6px);
  /* color: inherit; */
  font-weight: var(--fw-bold);
  color:hsl(130, 30%, 38%); 
  font-size: var(--fs-600); 
}
